.card-bookmark {
  overflow: hidden;
  // height: 350px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.movie-poster {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-bookmark-content {
  padding: 16px;
}

.title-rating {
  display: flex;
  justify-content: space-between;
}

.overview {
}

.comment-delete {
  display: flex;
  justify-content: space-between;
}



// .card-bookmark {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   img {
//     height: 200px;
//     width: 100%;
//     object-fit: cover;
//   }
// }

// .card-bookmark-info {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
// }

// .card-bookmark-info {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   h2 {
//     font-size: 16px;
//     font-weight: bold;
//     margin: 0;
//   }
//   p {
//     font-size: 12px;
//     opacity: .7;
//     margin: 0;
//   }
// }
